@import "~bootstrap/scss/bootstrap";

$background: #E0FFE3;
$navbar: #00A954;
$logobg: #4DD0F9;
$logoBlue: #33A0FF;
$logoGreen: #33FF7E;
$inputblue: #33A0FF;
$altLTBlue: #9FEAED;
$whiteTXT: #F5F5F5;
$grey: #D4D3D3;

* {
  background-color: $background;

}
